@font-face {
    font-family: "Quicksand";
    src: url(../Fonts/Quicksand/Quicksand-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url(../Fonts/Quicksand/Quicksand-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Quicksand";
    src: url(../Fonts/Quicksand/Quicksand-Bold.ttf);
    font-weight: 700;
    font-style: Bold;
}