@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #303030;
    font-weight: 500;
}

body {
    background: #F9F9F9;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    padding: 0 230px;
    margin: auto;
}

/* header-start */
.header {
    width: 100%;
    height: 75px;
    background: #2D2D2D;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;


}

.header__nav-logo {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 32px;

}

.header__nav-list {
    display: flex;
    gap: 120px;

}

.header__nav-item {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.color-text {
    color: #969696;
}

.header__nav-actions {
    display: flex;
    gap: 40px;
}

/* header-end */

/* parfume-start */
.parfume {
    background: url(../img/BgPerfume.png) no-repeat center bottom / cover;
    height: 731px;
}

.parfume__section {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.parfume__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 96px;
    color: white;
    margin-top: 166px;
}

.parfume__link {
    display: inline-block;
    color: #000;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 199px;
    height: 75px;
    border-radius: 12px;
    padding-top: 24px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 100px;
}

.parfume__link:hover {
    transform: scale(1.1);
}

/* parfume-end */

/* about-start */
.about__wrap {
    margin-top: 100px;
    text-align: center;
}

.about__wrap-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.about__wrap-desk {
    max-width: 923px;
    margin: 40px auto 100px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

/* about-end */

/* collection-start */
.collection__list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.collection__item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.collection__title {
    margin-bottom: 80px;
}

.collection__content-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 40px;
}

.collection__desk {
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 458px;
}


.collection__link {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 20px;
    background: #000;
    width: 160px;
    height: 75px;
    border-radius: 12px;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 24px;
    transition: 0.3s;
}

.collection__link:hover {
    transform: scale(1.1);
}

/* collection-end */

/* footer-start */
.footer {
    width: 100%;
    height: 216px;
    background: #2D2D2D;
    box-shadow: 0px -4px 20px 0px #00000040;
    margin-top: 100px;
}

.footer__nav{
    padding-top: 100px;
}
/* footer-end */