@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #303030;
    font-weight: 500;
}

body {
    background: #F9F9F9;
    min-width: 320px;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* header-start */
.header {
    width: 100%;
    height: auto;
    padding: 26px 0;
    background: #2D2D2D;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.burger,
#burger-toggle,
.menu-mobile {
    display: none;
}

.header__nav-logo {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(1.625rem, -0.022rem + 8.24vw, 6rem);

}

.header__nav-list {
    display: flex;
    gap: 120px;

}

.header__nav-item {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.562rem + 0.94vw, 1.25rem);
}

.color-text {
    color: #969696;
}

.header__nav-actions {
    display: flex;
    gap: clamp(0.625rem, -0.081rem + 3.53vw, 2.5rem);
}

/* header-end */

/* parfume-start */
.parfume {
    background: url(../img/BgPerfume.png) no-repeat center bottom / cover;
    height: 100svh;
}

.parfume__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parfume__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(1.625rem, -1.965rem + 17.95vw, 6rem);
    color: white;
    margin-top: 18%;
}

.parfume__btn {
    display: inline-block;
    color: #000;
    background: rgb(255, 255, 255);
    width: clamp(5.875rem, 3.381rem + 12.47vw, 12.5rem);
    height: clamp(1.875rem, 0.793rem + 5.41vw, 4.75rem);
    border-radius: 12px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.39rem + 1.18vw, 1.25rem);
    transition: 0.3s;
    margin-top: clamp(0.625rem, -3.99rem + 23.08vw, 6.25rem);
    border: none;
}

.parfume__link:hover {
    transform: scale(1.1);
}

/* parfume-end */

/* about-start */
.about__wrap {
    margin-top: 100px;
    text-align: center;
}

.about__wrap-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.968rem + 1.41vw, 2rem);
    text-align: center;
}

/* 18 14 */
.about__wrap-desk {
    max-width: 923px;
    margin: clamp(1.25rem, 0.779rem + 2.35vw, 2.5rem) auto clamp(2.5rem, 1.088rem + 7.06vw, 6.25rem);
    font-size: clamp(0.875rem, 0.734rem + 0.71vw, 1.25rem);
    line-height: clamp(1.125rem, 0.607rem + 2.59vw, 25rem);
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* about-end */

/* collection-start */
.collection__list {
    display: flex;
    flex-direction: column;
    gap: clamp(4.625rem, 4.013rem + 3.06vw, 6.25rem);
}

.collection__item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.collection__title {
    margin-bottom: clamp(2.5rem, 1.559rem + 4.71vw, 5rem);
}

.collection__content-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: clamp(0.875rem, 0.451rem + 2.12vw, 2rem);
    margin-bottom: clamp(1rem, 0.435rem + 2.82vw, 2.5rem);
}

.collection__desk {
    margin-bottom: clamp(1.875rem, 0.699rem + 5.88vw, 5rem);
    font-weight: 500;
    font-size: clamp(0.875rem, 0.734rem + 0.71vw, 1.25rem);
    line-height: clamp(1rem, 0.671rem + 1.65vw, 1.875rem);
    max-width: 458px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.collection__btn {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(0.75rem, 0.562rem + 0.94vw, 1.25rem);
    background: #000;
    width: clamp(6.25rem, 4.838rem + 7.06vw, 10rem);
    height: clamp(2.5rem, 1.653rem + 4.24vw, 4.75rem);
    border-radius: 12px;
    color: white;
    display: inline-block;
    border: none;
    transition: 0.3s;
}

.collection__link:hover {
    transform: scale(1.1);
}

.collection__img img {
    width: 100%;
    height: auto;
    margin: 56px 0;
}


/* collection-end */

/* footer-start */
.footer {
    width: 100%;
    height: 100%;
    background: #2D2D2D;
    box-shadow: 0px -4px 20px 0px #00000040;
    margin-top: clamp(3.5rem, 1.759rem + 8.71vw, 8.125rem);
    padding: clamp(3.75rem, 1.801rem + 9.74vw, 6.125rem) 0;
}


.footer__nav {
    display: flex;
    justify-content: space-between;
}


.footer__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__nav-logo {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 1.312rem + 0.94vw, 2rem);
    color: #FFFFFF;
    text-align: left;
}

.footer__nav-desc {
    color: #C3C3C3;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.562rem + 0.94vw, 1.25rem);
    line-height: clamp(1.125rem, 0.843rem + 1.41vw, 1.875rem);
}

.footer__nav-list,
a {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.567rem + 1.54vw, 1.25rem);
    gap: clamp(1.25rem, 0.737rem + 2.56vw, 1.875rem);
    color: #FFFFFF;
    text-align: center;
}

.div{
    display: flex;
    gap: 60px;
}

.footer__nav-item-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(1.188rem, 0.829rem + 1.79vw, 1.625rem);
    color: #C3C3C3;
}

.footer__bottom p {
    margin-top: 70px;
    color: #C3C3C3;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.442rem + 1.54vw, 1.125rem);
    position: relative;
}

.footer__bottom-desc::after {
    content: "";
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -100%;
    left: 0;
}

/* footer-end */